/* COLORS */

body, { background-color: #bdc3c7; }
.switch { border-color: #bdc3c7; }

button {
  background-color: #3498db;
  outline-color: #2980b9;
  color: #ecf0f1;
}
button:focus {
  outline-color: #34495e;
}

.switches, .message label {
  background-color: #ecf0f1;
  color: #2e3e51;
}

.message { background: rgba(0, 0, 0, 0.5); }

/* IMAGES */

.switch .indicator {
  background-position: center;
  background-repeat: no-repeat; 
}

.switch.on .indicator {
  background-image: url("/images/power-button-green.png");
}

.switch.off .indicator {
  background-image: url("/images/power-button-red.png");
}

/* APPEARANCE */

body { 
  font-family: 'Roboto', sans-serif; 
  font-size: 24px;
}

.switch {
  border-width: 3px;
  border-bottom-style: solid;
}
.switch .indicator {
  text-transform: uppercase;
  cursor: pointer;
}

.message label {
  font-size: 1.1em;
}
button {
  font-size: 1.2em;
  padding: 0.3em 0.8em;
  cursor: pointer;
  outline-style: solid;
  outline-width: 1px;
}
button:focus {
}

/* LAYOUT */

body { margin: 0; }
.switches {
  max-width: 500px;
  width: 90%;
  margin: auto;
  margin-top: 1em;
}
.switch {
  position: relative;
  line-height: 3em;
  padding-left: 0.5em;
}
.switch .indicator {
  position: absolute;
  right: 0;
  top: 0;
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3em;
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.message label {
  display: inline-block;
  padding: 1em;
  margin-top: 2em;
  max-width: 80%;
}
.message label button {
  border: none;
  display: block;
  margin: auto;
  margin-top: 1em;  
}