/* COLORS */

body { background-color: #95a5a5; }

.switches {
  background-color: #ecf0f1;
  color: #2e3e51;
}
.switch { border-color: #95a5a5; }

/* IMAGES */

.switch .indicator {
  background-position: center;
  background-repeat: no-repeat; 
}

.switch.on .indicator {
  background-image: url("/images/power-button-green.png");
}

.switch.off .indicator {
  background-image: url("/images/power-button-red.png");
}

/* APPEARANCE */

body { 
  font-family: 'Roboto', sans-serif; 
  font-size: 20px;
}

.switch {
  border-width: 3px;
  border-bottom-style: solid;
}
.switch .indicator {
  text-transform: uppercase;
  cursor: pointer;
}

/* LAYOUT */

body { margin: 0; }
.switches {
  width: 400px;
  margin: auto;
  margin-top: 2em;
}
.switch {
  position: relative;
  line-height: 3em;
  padding-left: 0.5em;
}
.switch .indicator {
  position: absolute;
  right: 0;
  top: 0;
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3em;
}