/* COLORS */

body { background-color: #bdc3c7; }
.switch { border-color: #bdc3c7; }

body {
  color: #2e3e51;
}

.message button {
  background-color: #3498db;
}

.switch.on button {
  background-color: #27b061;
}

.switch.off button {
  background-color: #c0392b;
}

.switches, .message p {
  background-color: #ecf0f1;
  color: #2e3e51;
}

.message { background: rgba(0, 0, 0, 0.3); }

/* APPEARANCE */

body { 
  font-family: 'Roboto', sans-serif; 
  font-size: 24px;
}

.switch {
  border-width: 3px;
  border-bottom-style: solid;
}

.switch .state-message {
  font-size: 0.5em;
}

button, .message p {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message p {
  font-size: 1.1em;
}

button {
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  font-size: 1em;
}

.message button {
  font-size: 1.2em;
  padding: 0.5em 1em;
}

/* LAYOUT */

body { margin: 0; }
.switches {
  max-width: 500px;
  width: 90%;
  margin: auto;
  margin-top: 1em;
}
.switch {
  position: relative;
  line-height: 3em;
  padding-left: 0.5em;
}
.switch .state-message {
  display: inline-block;
  position: absolute;
  right: 5.4em;
  line-height: 5.4em;
  font-size: 0.6em;  
}
.switch button {
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  width: 2.4em;
  height: 2.4em;
  line-height: 2.4em;
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.message p {
  display: inline-block;
  padding: 1em;
  margin-top: 2em;
  max-width: 80%;
}
.message button {
  border: none;
  display: block;
  margin: auto;
  margin-top: 1em;  
}