/* LAYOUT */

body {
  padding-top: 10px;
}

.btn {
  width: 36px;
  padding: 0;
}

.card .card-content {
  padding: 10px 15px;
}

.card .card-content .card-title {
  font-size: 1.2em;
  line-height: 36px;
}

.card-title .chip {
  height: 20px;
  line-height: 20px;
  margin-left: 10px;
  position: relative;
  top: -2px;
  text-transform: uppercase;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.overlay > .valign {
  margin: auto;
}