/* LAYOUT */

body {
  padding-top: 10px;
}

.btn {
  width: 36px;
  padding: 0;
}

.card .card-content {
  padding: 10px 15px;
}

.card .card-content .card-title {
  font-size: 1.2em;
  line-height: 36px;
}

.card-title .chip {
  height: 20px;
  line-height: 20px;
  margin-left: 10px;
  position: relative;
  top: -2px;
}