<!DOCTYPE html>

<html ng-app="switch-app" ng-controller="SwitchAppController">
  <head>
    <title>{{api.label}}</title>
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/touch-icon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <link href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" rel="stylesheet" type="text/css" />
    <link href="app.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

    <script type="text/javascript" src="/dist/app.js"></script>
  </head>

  <body ng-cloak class="container grey lighten-5">
    <div class="app">
      <md-toolbar layout="row" layout-align="center center">
        {{api.label}}
      </md-toolbar>

      <md-card ng-repeat="switch in switches | orderBy: 'label'">
        <md-card-title>
          <md-card-title-text>
            <div class="md-title">
              {{switch.label}}
              <span class="indicator" md-colors="getMdColors()">{{getStateDescription()}}</span>
            </div>
            <div class="md-subhead" ng-if="switch.timer != null">
              Turning {{switch.timer.turn}} {{getTimerDescription()}}
            </div>
          </md-card-title-text>
          <md-card-title-media>
            <md-button class="md-raised square" md-colors="getMdColors()" ng-click="extendTimer()" ng-if="canExtendTimer()">
              <md-icon class="material-icons">settings_power</md-icon>
            </md-button>
            <md-button class="md-raised square" md-colors="getMdColors()" ng-click="setTimer()" ng-if="canSetTimer()">
              <md-icon class="material-icons">timer</md-icon>
            </md-button>
            <md-button class="md-raised square" md-colors="getMdColors()" ng-click="clearTimer()" ng-if="canClearTimer()">
              <md-icon class="material-icons">timer_off</md-icon>
            </md-button>
            <md-button class="md-raised square" md-colors="getMdColors()" ng-click="toggle()" ng-disabled="!canToggle()">
              <md-icon class="material-icons">power_settings_new</md-icon>
            </md-button>
          </md-card-title-media>
        </md-card-title>
      </md-card>
    </div>

    <div class="overlay" ng-if="loading">
      <md-progress-circular />
    </div>
    
  </body>
</html>