<!DOCTYPE html>

<html ng-app="switch-app" ng-controller="SwitchAppController">
  <head>
    <title>{{api.label}}</title>
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/touch-icon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <link href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" rel="stylesheet" type="text/css" />
    <link href="/app.css" rel="stylesheet" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script type="text/javascript" src="/dist/app.js"></script>
  </head>

  <body ng-cloak class="container grey lighten-5">
    <div class="app" ng-if="switches">
      <md-toolbar layout="row" layout-align="center center">
        {{api.label}}
      </md-toolbar>

      <md-card ng-repeat="switch in switches | orderBy: 'label'">
        <md-card-title>
          <md-card-title-text>
            <div class="md-title">
              {{switch.label}}
              <span class="indicator" md-colors="getMdColors()">{{getStateDescription()}}</span>
            </div>
            <div class="md-subhead" ng-if="switch.timer != null">
              Turning {{switch.timer.turn}} {{getTimerDescription()}}
            </div>
          </md-card-title-text>
          <md-card-title-media>
            <md-button class="md-raised square" md-colors="getMdColors()" ng-click="extendTimer()" ng-if="canExtendTimer()">
              <md-icon class="material-icons">alarm_add</md-icon>
            </md-button>
            <md-button class="md-raised square" md-colors="getMdColors()" ng-click="setTimer()" ng-if="canSetTimer()">
              <md-icon class="material-icons">alarm</md-icon>
            </md-button>
            <md-button class="md-raised square" md-colors="getMdColors()" ng-click="clearTimer()" ng-if="canClearTimer()">
              <md-icon class="material-icons">alarm_off</md-icon>
            </md-button>
            <md-button class="md-raised square" md-colors="getMdColors()" ng-click="toggle()" ng-disabled="!canToggle()">
              <md-icon class="material-icons">power_settings_new</md-icon>
            </md-button>
          </md-card-title-media>
        </md-card-title>
      </md-card>
      
      <div layout="row" layout-align="center center">
        <md-button class="md-fab" aria-label="Help" ng-click="showHelpDialog()">
          <md-tooltip>Show Quick Help</md-tooltip>
          <md-icon class="material-icons">help</md-icon>
        </md-button>
        <md-button ng-if="isLoggedIn" class="md-fab" aria-label="Help" href="/logout">
          <md-tooltip>Logout</md-tooltip>
          <md-icon class="material-icons">exit_to_app</md-icon>
        </md-button>
      </div>
    </div>

    <div class="overlay" ng-if="loading">
      <md-progress-circular />
    </div>
    
    <div style="visibility: hidden">
      <div class="md-dialog-container" id="help-dialog">
        <md-dialog layout-padding>
          <md-dialog-content>
            <h2>What do these buttons do?</h2>
            <md-list>
              <md-list-item>
                <md-icon class="material-icons">power_settings_new</md-icon> 
                <p>
                  Turns switch on/off
                </p>
              </md-list-item>
              <md-list-item>
                <md-icon class="material-icons">alarm_add</md-icon> 
                <p>
                  Resets countdown to switch turning off
                </p>
              </md-list-item>
              <md-list-item>
                <md-icon class="material-icons">alarm</md-icon>
                <p>
                  Sets a timer for the switch to turn on
                </p>
              </md-list-item>
              <md-list-item>
                <md-icon class="material-icons">alarm_off</md-icon>
                <p>
                  Cancels the timer
                </p>
              </md-list-item>
            </md-list>
          </md-dialog-content>
          <md-dialog-actions>
            <md-button ng-if="docUrl" ng-href="{{docUrl}}">
              <md-icon class="material-icons">launch</md-icon>
              Tell me more
            </md-button>
            <md-button ng-click="closeHelpDialog()">
              <md-icon class="material-icons">check_circle</md-icon>
              Got it!
            </md-button>
          </md-dialog-actions>
        </md-dialog>
      </div>
    </div>
    
    <script type="text/html" id="timer-dialog">
      <md-dialog layout-padding>
        <form ng-submit="done()">
          <md-dialog-content>
            <h3>Set timer for {{switch.label}}</h3>
            What time would you like the switch to turn on?
            <br/><br/>
            <md-input-container class="md-block">
              <label>{{getTodayOrTomorrow()}}</label>
              <input type="time" name="time" ng-model="time" md-autofocus>
            </md-input-container>
          </md-dialog-content>
          <md-dialog-actions>
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button type="submit" ng-disabled="!isTimeValid()">Set</md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>
    </script>
    
  </body>
</html>